.layout-container {
    display: grid;
    grid-template-columns: 240px 1fr;
    height: 100vh;
    width: 100vw;

    .content{
        overflow-y: scroll;
    }
}

.layout-container-side-collapse {
    display: grid;
    grid-template-columns: 60px 1fr;
    height: 100vh;
    width: 100vw;

    .content{
        overflow-y: scroll;
    }
}
